*.swp
.undodir
Session.vim
laravel/storage/app/livewire-tmp/
laravel/storage/app/services/*/*.log
laravel/storage/app/tools/
laravel/config/version.php
laravel-jetstream
octave/octave-10.2.0/
octave/gl2ps-1.4.2/
