*.swp
.undodir
Session.vim
laravel/storage/app/
!laravel/storage/app/public/
!laravel/storage/app/services/
laravel/storage/app/services/*/*.log
laravel/config/version.php
laravel-jetstream
octave/octave-10.2.0/
octave/gl2ps-1.4.2/
