@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://v1.tailwindcss.com/docs/adding-base-styles 
    https://stackoverflow.com/questions/74429397/what-is-the-purpose-of-the-tailwind-layer-directive

    jw:note Set global defaults here
*/

@layer base {
    body {
        @apply m-4;
        @apply bg-slate-50;
    }
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    p {
        @apply m-1;
    }
    dt {
        font-weight: bold;
    }
}